{% load static %}
<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="xo febre - O lugar certo para aprender a combater a febre">
    <meta name="keywords" content="febre, temperatura, indisposição, combate à febre, saúde">
    <meta name="author" content="ALPHA Developers">

    <title>Xô, Febre!</title>
    <link rel="stylesheet" href="{% static 'bootstrap.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
</head>

<body>
    <header>
        <img src="{% static 'logo.png' %}" width="200" height="150" alt="logo">
        <h1>Xô, Febre!</h1>
        <h3>O lugar certo para aprender a combater a febre</h3>
    </header>

       
        {% for consulta in consulta%}
        <ul>{{consulta.pessoa}}
        <li>{{consulta.diagnostico}}</li>
        <li>{{consulta.dataHora}}</li>
        <li><a href="{% url 'core_deletarConsulta' consulta.id %}"><button class="btn btn-default">Deletar</button></a></li>
        </ul>
        {% endfor %}
    

    <footer>
        <p>
            <a href="{% url 'core_home' %}"><button class="btn btn-default">Home</button></a>
            <a href="{% url 'core_sobre' %}"><button class="btn btn-default">Sobre</button></a>
        </p>
        <p>Copyright - Todos os direitos reservados | Desenvolvido por ALPHA Developers| *Conteúdo para uso acadêmico*</p>
    </footer>

</body>

</html>